@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE6E3;
     display: flex;               /* Utiliser Flexbox pour gérer la disposition */
    flex-direction: column;      /* Disposer les éléments en colonne */
    justify-content: space-between; /* Distribuer les éléments, en poussant le footer en bas */
    min-height: 100vh;    
}

header {
    background-color: #FFE6E3;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px; /* Augmente l'espace sur les côtés */
    border-bottom: 1px solid #FFD1C9;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 101;
}



.footer {
    background-color: #fe2727;
    color: white;
    text-align: center;
    padding: 150px 0;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    width: 100%;
    position: relative; /* Définit la position du footer */
}

.footer-text {
    padding-top: 80px; /* Ajuste cette valeur pour descendre le texte */

}



nav {
    display: flex;
    width: 90%; /* Réduit la largeur du contenu pour éviter qu'il touche les bords */
    max-width: 1200px; /* Empêche que ça s'étale trop sur grand écran */
    align-items: center;
    justify-content: space-between; /* Espace entre logo et liens */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Réduit l’espace entre le logo et le texte */
    margin-left: 10px; /* Décale légèrement vers la droite */
}

/* Logo */
.logo-container img {
    height: 80px; /* Réduit la taille du logo */
    width: auto; /* Garde les proportions */
    max-width: 100%; /* Empêche qu'il dépasse */
}

/* Nom du site */
.site-title {
    font-family: "Rubik", sans-serif; /* Remplacez Poppins par Rubik */
    font-size: 20px; /* Réduit un peu la taille du texte */
    color: #fe2727;
    text-decoration: none;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}


/* Navigation */
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px; /* Espacement entre les liens */
    margin-right: 20px; /* Décale légèrement vers la gauche */
}

/* Liens */
.nav-links a {
    font-family: "Filson Pro", sans-serif;
    font-size: 12px;
    letter-spacing: .14rem;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D0000;
}

.nav-links a:hover {
    color: #770000;

}

.nav-links button {
    background-color: #4D0000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 900px; 
    letter-spacing: .14rem;
    line-height: 100%;
    font-family: "Filson Pro", sans-serif;

}

.nav-links button:hover {
    background-color: #770000;
}


button {
    background-color: #4D0000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #770000;
}

main {
    margin-top: 100px; 
    flex-grow: 1; /* Fait en sorte que le contenu principal prenne toute la place disponible */
    

}

.title-container {
    text-align: center;
    margin-top: 100px;
}

.main-title {
    font-size: 160px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
    color: #fe2727;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 50px;
}

.left-column {
    flex: 0.5;
    padding-right: 40px;
}

.separatorh {
    border: 1px solid #fe2727;
    margin-bottom: 20px;
}

.left-column p {
    font-size: 17px;
}


.right-column {
    flex: 1;
    position: relative;
    min-height: 100vh; 
    overflow: hidden;
}

.parallax-image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-base {
    width: 100%;
    height: auto; 
    max-height: none; 
    object-fit: contain; 
}



.right-column img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}





hr.separator {
    border: 1px solid #fe2727;
    margin-bottom: 20px;
}

.scroll-helper {
    height: 200px; 
    background-color: transparent;
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.5); 
    transition: opacity 1.5s ease-out; 
}

.fade-out {
    opacity: 0;
}
.club-main-container {
    display: flex;
    height: auto;
    flex-direction: row;
}

.club-image-container {
    width: 33.33%;  
    height: auto;
    background: #ffe5e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.club-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.club-content-container {
    flex: 2; 
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
}

.club-title-main {
    font-family: "Filson Pro", sans-serif;
    font-size: 12px;
    letter-spacing: .14rem;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D0000;
    margin-bottom: 20px; 
}

.club-card {
    padding: 20px;
    margin-bottom: 70px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    border-bottom: 1px solid #fe2727; 

    
}

.club-card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.club-title {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    color: #fe2727;
    margin-bottom: 2px;
    font-family: 'poppins', sans-serif; 
    cursor: pointer; 

}

.club-title:hover {
    color: #ff0000; 
}


.separator {
    width: 100%;
    height: 2px;
    background-color: #4D0000;
    margin: 20px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.club-info {
    display: flex;
    align-items: center; 
    gap: 25px;  
}

.club-description {
    font-family: "Filson Pro", sans-serif;
    font-size: 12px;
    letter-spacing: 0.14rem;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D0000;
    font-weight: 400;
}

.toggle-bio {
    font-family: "Filson Pro", sans-serif;
    font-size: 12px;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D0000;
    font-weight: 700; 
    line-height: 100%;
    cursor: pointer;
    transition: color 0.3s ease;
}


.toggle-bio:hover {
    color: #8B0000;
}

.club-bio-text {
    max-width: none;
    padding-right: 20px;
    font-size: 1rem;
    line-height: 150%;
    font-family: "Filson Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    color:#4D0000 ;
    margin-top: 25px;
}


