<!DOCTYPE html>
<html lang="fr" ng-app="MMIPlanner">
<head>
    <meta charset="UTF-8">
    <title>Événements</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/controllers/event.controller.js"></script>
    
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>
<body ng-controller="EventController">

    <header>
        <nav>
            <a href="../../index.html">Accueil</a>
    <a href="events.html">Événements</a>
    <a href="clubs.html">Clubs</a>
            <button onclick="alert('Connexion')">Se connecter</button>
        </nav>
    </header>

    <main>
        <h1>{{ message }}</h1>
        <p>Ceci est la page des événements.</p>
    </main>
<div class="scroll-helper"></div>

</body>
</html>
